body {
  background-color: orange;
}

.word {
  color: #fff;
  border-bottom: 2px solid #fff;
  min-width: 20px;
  min-height: 20px;
  margin-right: 3px;
  font-size: 25px;
  display: inline-block;
}
